language: node_js
node_js:
  - "8"
  - "10"
matrix:
  fast_finish: true
script: "npm run-script test-ci"
after_script: "npm install coveralls@2.10.0 && cat ./coverage/lcov.info | coveralls"
addons:
  postgresql: "9.3"
before_script:
  - psql -c 'create user test_user password $$test_pass$$;' -U postgres
  - psql -c 'create database test_db owner test_user;' -U postgres
